@page "/"

<h1>Librería Alvarez</h1>

<p>Las aplicaciones se pueden acceder desde el menú o desde acá: </p>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="list-group">
                <a href="fetch-prices" class="list-group-item list-group-item-action">Buscar en list precios</a>
            </div>
            <div class="list-group">
                <a href="load-prices" class="list-group-item list-group-item-action">Cargar Listas</a>
            </div>
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>

</div>