@using LibreriaAlvarez.WebApp.Services
@page "/fetch-prices"
@inject LibreriaPriceService LibreriaPriceservice

<h1>Lista de Precios</h1>

@if (loading)
{
    <p><em>Cargando...</em></p>
}
else
{
    <p>Buscar entre <b>@total</b> articulos de librería y juguetes.</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <BuscarArticulo ValueTarget=@searchCriteria OnInputFunction=@OnChangeSearchCriteria />
            </div>
            <div class="col">
               <SelectLista ListaSeleccionada=@searchCriteriaList OpcionesListas=@listaSelect OnSelectChange=@OnChangeListSearch />
            </div>
            <div class="col">
               <SelectFecha FechaSeleccionada=@fechaSeleccionada OpcionesFechas=@listaFechas OnDateChanged=@onDateChanged />
            </div>
        </div>
    </div>
    <br />
        <TablaPrecios ListaPrecios="@topPrecios" />
        <button class="btn btn-primary" onclick=@(async () => await LibreriaPriceservice.DownLoadExcel(precios))>Descargar lista completa</button>
}

@functions {
    IEnumerable<LibreriaPrice> precios;
    IEnumerable<LibreriaPrice> topPrecios;
    IEnumerable<FechaDeLista> listaFechas;
    IEnumerable<LoadedList> listasCargadas;
    IEnumerable<string> listaSelect;

    string searchCriteria;
    string searchCriteriaList;

    int total;
    bool loading = true;
    DateTime fechaSeleccionada;

    async Task OnChangeSearchCriteria(UIChangeEventArgs arg)
    {
        await Task.Run(() => searchCriteria = arg.Value.ToString().ToUpper());
        StateHasChanged();
    }

    async Task OnChangeListSearch(UIChangeEventArgs arg)
    {
        await Task.Run(() => searchCriteriaList = arg.Value.ToString().ToUpper());
        StateHasChanged();
    }

    async Task onDateChanged(UIChangeEventArgs args)
    {
        StateHasChanged();
        await SetPriceListByDate(Convert.ToDateTime(args.Value));
        StateHasChanged();
    }

    protected async Task SetPriceListByDate(DateTime date)
    {
        loading = true;
        fechaSeleccionada = date;

        listasCargadas = await LibreriaPriceservice.GetLoadedList();

        listaSelect = (from l in listasCargadas
                       where l.Fecha == fechaSeleccionada
                       select l.Lista);

        precios = await LibreriaPriceservice.GetPricesByDate(fechaSeleccionada).ConfigureAwait(false);
        topPrecios = await Task.Run(() => (from p in precios
                                           where p.Desc.Contains(searchCriteria) && (String.IsNullOrEmpty(searchCriteriaList.Trim()) || p.Lista.Equals(searchCriteriaList))
                                           select p).Take(20)).ConfigureAwait(false);

        total = precios.Count();
        loading = false;
    }

    protected override async Task OnInitAsync()
    {
        searchCriteria = "";
        searchCriteriaList = "";
        total = 0;

        var date = await LibreriaPriceservice.GetLastDateAsync().ConfigureAwait(false);
        await SetPriceListByDate(date).ConfigureAwait(false);

        listaFechas = await LibreriaPriceservice.GetLoadedDates().ConfigureAwait(false);
    }

}
