@using LibreriaAlvarez.WebApp.Services
@inject LibreriaPriceService LibreriaPriceservice

<TemplateTabla Items=@ListaPrecios Context="precio" TItem="LibreriaPrice">
    <EncabezadoTabla>
        <th>Descripción</th>
        <th>Lista</th>
        <th>Precio</th>
        <th>Fecha de la Lista</th>
    </EncabezadoTabla>
    <FilasTabla>
        <td>@precio.Desc</td>
        <td>@precio.Lista</td>
        <td>@precio.Price.ToString("C2")</td>
        <td>@precio.Fecha.ToString("yyyy-MM-dd")</td>
    </FilasTabla>
</TemplateTabla>

<div class="d-flex flex-row-reverse">
    <div class="p-2">
        <button class="btn btn-info" onclick=@(async () => { await LibreriaPriceservice.DownLoadExcel(ListaPrecios.ToArray()); })>Descargar lista de precios filtrados</button>
    </div>
</div>

@functions {
    [Parameter] protected IEnumerable<LibreriaPrice> ListaPrecios { get; set; }
}
