@typeparam TItem

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                @EncabezadoTabla
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Items)
        {
            <tr>@FilasTabla(item)</tr>
        }
        </tbody>
    </table>
</div>


}

@functions {
    [Parameter] protected RenderFragment EncabezadoTabla { get; set; }
    [Parameter] protected RenderFragment<TItem> FilasTabla { get; set; }
    [Parameter] protected IReadOnlyList<TItem> Items { get; set; }
}
